.heading {
    position: absolute;
    top: 0;
    left: 10px;
}

.title {
    color: black;
    font-size: 40px;
    font-weight: bold;
}

.tagline {
    padding-left: 40px;
    line-height: 0.2;
    color: #743433;
    height: 15px;
    font-size: 15px;
    font-style: italic;
}

.date-time {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    /* font-weight: bold; */
}
