.home-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}
.top {
    background-color: #ffb344;
    padding: 10px 20px;
    /* margin-bottom: 50px; */
    /* margin-bottom: auto; */
    font-size: 28px;
    display: flex;
    justify-content: space-between;
}

.top .left {
    display: flex;
    justify-content: flex-start;
}

.top .right {
    display: flex;
    justify-content: flex-end;
}

.main {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 91vh; */
    margin-top: auto;
    margin-bottom: auto;
    /* padding: auto; */
}

main .joininfo {
    /* display: flex;
    align-items: center; */
    /* position: absolute; */
    /* top:50%; */
    /* transform: translate(0, -50%); */
    text-align: center;
    /* width: 50px; */
}

/* .main .link-join{
    display: flex;
    justify-content: 
} */

.icon {
    margin: 0 10px;
}

.on {
    color: green;
}

.off {
    color: red;
}

.meet-feature {
    background-color: #ffb344;
    margin: 0 10px;
    border-radius: 30px;
}

.end-call {
    color: red;
}

.meet {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    /* background-color: aqua; */
}

/* .meet-screen{
    background-color: black;
    margin-top: auto;
    margin-bottom: auto;
} */

.bottom-bar {
    margin-top: auto;
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: aquamarine;
    padding: 10px;
}

.meet-screen {
    /* height: 500px; */
}
